button {
    width: 80px;
    height: 50px;
    font-size: 30px;
  }
  body {
    position: relative;
    left: 30%;
    background: rgb(65, 7, 157);
    background: linear-gradient(
        180deg,
        rgba(65, 7, 157, 1) 0%,
        rgba(7, 15, 157, 1) 50%,
        rgba(2, 17, 38, 1) 100%
      )
      no-repeat;
  }
  
  #result {
    width: 240px;
    height: 60px;
    font-size: 30px;
    border-radius: 3px;
  }
  button:active,
  button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
  }
  
  button {
    border: none;
    outline: none;
  
    background: rgb(0, 0, 139);
    color: white;
    width: 60px;
    height: 60px;
    transition: 2s;
  }
  input {
    border: none;
    outline: none;
  }
  
  html,
  body {
    height: 100%;
  }
  button:hover {
    background: rgb(0, 0, 128);
    border-radius: 20px;
    transition: 2s;
  }
  #lol {
    width: 70px;
    height: 70px;
  }
  #lil {
    width: 70px;
    height: 70px;
  }
  